<header class="bg-light w-100 py-3 px-5 d-flex justify-content-between shadow ">
    <h2>MyNotes</h2>
    <div class="buttons">
        {{#if authorized}}
        <button type="button" class="btn btn-primary" onclick="">Create</button>
        <button type="button" class="btn btn-info" onclick="">My account</button>
        {{else}}
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#loginModal"
            onclick="">Login</button>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#registerModal"
            onclick="">Register</button>
        {{/if}}
    </div>

</header>
<div class="container">

</div>


<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="reset()"></button>
            </div>
            <div class="modal-body">
                <form id="loginForm">
                    <div class="mb-3">
                        <label for="loginUserName" class="form-label">Username</label>
                        <input type="text" class="form-control" id="loginUserName">
                    </div>
                    <div class="mb-3">
                        <label for="loginPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="loginPassword">
                    </div>
                    <p class="message login-message hidden"></p>
                    <button type="button"  onclick="reset()" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                    <button type="button" class="btn btn-primary" onclick="login()">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{!-- register modal --}}
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Register</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <form id="registerForm">
                    <div class="mb-3">
                        <label for="registerUserName" class="form-label">Username</label>
                        <input type="text" class="form-control" id="registerUserName">
                    </div>
                    <div class="mb-3">
                        <label for="registerPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="registerPassword">
                    </div>
                    <p class="message register-message hidden"></p>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="reset()">Close</button>
                    <button type="button" class="btn btn-primary" onclick="register()">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>